 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
 }
 
 body{
    background-color: white;
 }
 .Logo_acima{
    position: absolute;
    width: 166px;
    height: 73px;
 }

 .link{
   display: flex;
   justify-content: center;
   justify-content: space-around;
   margin-top: 15px;
   
 }

 .ford{
    width: 70px;
    height: 30px;
   

 }

 footer{
    background-color: #1b357e;
 }

 #logo_abaixo{

    width: 60px;
    height: 40px;
    
 }

 .ranger_Principal{
   display: block;
   text-align: center;
   margin: auto;
   
 }

 .paragrafo{
   display: flex;
   justify-content: center;
   
 }

 