 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 }
 
 .Logo_acima{
    position: absolute;
    width: 166px;
    height: 73px;
 }

 .link{
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    
 }
