 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
 }
 
 body{
    background-color: white;
 }
 .Logo_acima{
    position: absolute;
    width: 166px;
    height: 73px;
 }

 .link{
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    
 }

 .ford{
    width: 70px;
    height: 30px;

 }

 footer{
    background-color: #1b357e;
    
  

   
 }

 #logo_abaixo{

    width: 60px;
    height: 40px;
    
 }