 :root{
   --cor--primaria: white;
   --cor--secundaria:#1b357e;
   --cor--terciaria:rgb(7, 114, 185);
   --cor---quarta: #1351d8;
 }
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
 }
 
 body{
    background-color: var(--cor--primaria);
  
 }


 .Logo_acima{
  position: fixed;
  width: 122px;
  height: 63px;
  margin-left: 20px;
 }

 .link{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 35px;
   margin-top: 58px;
   padding-right: 40px;
   font-family: 'Lucida Sans', sans-serif;
 
   
 }

 .ranger_Principal{
   display: block;
   text-align: center;
   margin: auto;
   margin-top: 10vh;
   
 }

 footer{
    background-color: var(--cor--secundaria);
    margin-top: 20px;
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 15px;
   
 }

 #logo_abaixo{

    width: 34px;
    height: 26px;
    
 }
 .ford{
   position: absolute;
   margin-top: 10px;
   width: 70px;
   height: 30px;
   margin-left: 92%;

 }
 

 .paragrafo{
   margin-left: 40%;
   margin-top: 20px;
   
 }

 .letra {
   color: var(--cor--primaria);
   margin: 20px;
   
}
 
 .casa{
   text-decoration: none;
   color: var(--cor---quarta);
 }
 
 .casa:hover{
   padding: 5%;
 }

 .contat{
   text-decoration: none;
   color: var(--cor---quarta);

 }

 .contat:hover{
   padding: 5%;
 }
  
 .lança{
   text-decoration: none;
   color: var(--cor---quarta);
 }

 .lança:hover{
   padding: 5%;

 }


 
 @media (max-width: 1024px) {
  .header_container{
     align-items: center;
      text-align: center;
    
  }
  footer {
    max-width: 100%;
  }

  .link{
    display: flex;  
    justify-content: center;
     
  }

  .rodape_site {
    display: flex;
     justify-content: center;
   
  
     padding: 40px;
      gap: 15px;
  }

  .ford {
    margin-top: 10px;
   
  }
}

 @media (max-width: 768px) {
  .header_container {
    display: flex;  
    justify-content: center;
      gap: 80px;
  }

  

  .menu_navegacao {
      flex-direction: column;
      text-align: center;
      gap: 15px;
  }
  
  .ranger_Principal{
    max-width: 80%;
  }

  .rodape_site {
      
     flex-direction: column;
     text-align: center;
      max-width: 100%;
      gap: 15px;
  }

  .ford {
    margin-top: 10px;
   
  }
}

@media (max-width: 480px) {

  .link {
    flex-direction: column;

  }

  .rodape_site {
      max-width: 100%;
     font-size: 1em;
  }

  .ford {
    height: auto;
   
  }
}